{% extends 'base.html' %}
{% load static %}
{% load pagination_tags %}

{% block products_active %}active{%endblock%}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <form>
                {% include 'parts/forms/filter_form.html' with form=filter.form %}
                <button class="btn btn-primary" type="submit">Filter</button>
            </form>
        </div>
        <div class="row justify-content-center gy-5">
            {% for product in products %}
            {% if product.products.all %}
            <div class="col-12 col-xl-6">
                <div class="card h-100" style="width: 36rem;">
                    <figure class="text-center">
                        <img src="{{ product.image.url }}"
                             class="product-image p-3"
                             alt="{{ product.name }}">
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title text-center"><a href="{% url 'products:products_detail' product.id %}">{{product.name}}</a>
                        </h5>
                        <div class="text-center">
                            <small class="text-muted">{{product.category}}</small>
                        </div>
                        <div class="container-fluid mt-3">
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-text">{{product.description}}</p>
                                </div>

                                <div class="col-6">
                                    <p class="card-text"><strong>List of items</strong></p>
                                    <ol class="list-group list-group-numbered">
                                        {% for item in product.products.all %}
                                        <li class="list-group-item">{{item.name}}</li>
                                        {% endfor %}
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <p class="card-text"><strong>{{ product.exchange_price }} UAH</strong></p>
                        <div class="text-center mt-3">
                            {% include 'parts/forms/add_to_cart.html' with product_id=product.id %}
                        </div>
                        <div class="add-or-remove-favorite text-center mt-3">
                            {% include 'parts/forms/add_to_favorite.html' with product_id=product.id %}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}

            <div class="col-6 col-xl-3">
                <div class="card h-100" style="width: 18rem;">
                    <figure class="text-center">
                        <img src="{{ product.image.url }}" class="product-image p-3" alt="{{ product.name }}">
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title text-center"><a href="{% url 'products:products_detail' product.id %}">{{product.name}}</a>
                        </h5>
                        <p><small class="text-muted">{{product.category}}</small></p>
                        <p class="card-text">{{product.description}}</p>
                        <p class="card-text"><strong>{{ product.exchange_price }} UAH</strong></p>
                        <div class="text-center mt-3">
                            {% include 'parts/forms/add_to_cart.html' with product=product %}
                        </div>
                        <div class="text-center mt-3">
                            {% include 'parts/forms/add_to_favorite.html' with product_id=product.id %}
                        </div>
                    </div>
                </div>
            </div>

            {% endif %}
            {% endfor %}
        </div>
        <div class="col-12">
            <div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{% url_replace request 'page' 1 %}">&laquo;
                                first</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?{% url_replace request 'page' page_obj.previous_page_number %}">previous</a>
                        </li>
                        {% endif %}
                        {% for i in "x"|rjust:page_obj.paginator.num_pages %}
                        <li class="page-item">
                            <a class="page-link" href="?{% url_replace request 'page' forloop.counter %}">
                                {{ forloop.counter }}
                            </a>
                        </li>
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link"
                               href="?{% url_replace request 'page' page_obj.next_page_number %}">next</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                               href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">last
                                &raquo;</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
         $(document).ready(function () {
             $('.add-or-remove-favorite').click(function (e) {
             e.preventDefault();
             const formData = {
                                product: $(this).siblings('#product_id').val(),
                                action: $(this).siblings('#favorite_action').val(),};
             const url = "{% url 'favorite:ajax_add_or_remove_favorite' %}";
             add_or_remove_favorite(url, $(this), formData, '{{ csrf_token }}');
             })
             $("#add_to_favorite").trigger("reset");
         })

</script>
{% endblock scripts %}
