[flake8]
extend-ignore = E203
exclude =
    .git,
    HM3,
    HM4,
    HM10/shop/items/migrations/*
    HM10/shop/orders/migrations/*
    HM10/shop/items/migrations/*
    HM10/shop/feedback/migrations/*
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist
max-complexity = 10