{% extends 'base.html'%}

{% block home_active %}active{%endblock%}
{% block content %}
    <section class="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Main</h1>
                </div>

                <div class="col-12">
                    <p>Lorem ipsum, or lipsum as it is sometimes known,
                        is dummy text used in laying out print, graphic or web designs.
                        The passage is attributed to an unknown typesetter in the 15th century who is thought to
                        have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                        It usually begins with</p>
                </div>

                <div class="col-6">
                    <p>Lorem ipsum, or lipsum as it is sometimes known,
                        is dummy text used in laying out print, graphic or web designs.
                        The passage is attributed to an unknown typesetter in the 15th century who is thought to
                        have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                        It usually begins with</p>
                </div>

                <div class="col-6">
                    <p>Lorem ipsum, or lipsum as it is sometimes known,
                        is dummy text used in laying out print, graphic or web designs.
                        The passage is attributed to an unknown typesetter in the 15th century who is thought to
                        have scrambled parts of Cicero's De Finibus Bonorum et Malorum for use in a type specimen book.
                        It usually begins with</p>
                </div>
            </div>


        </div>
    </section>
{% endblock %}
